:root{

    /*COLORS */
    --color-text: #fff;
    --color-primary: #ec5878;
    --color-secondary: #ff325f90;
    --color-dark: #b63345;
    --color-bg: #04152d;

    /*FONTS */
    --font-robot: "Roboto";
}